	
	/*Font size for body text 18px*/
	/*Container Description 16px*/


	@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
        body {
            font-family: 'Open Sans', sans-serif;
        }

        body p {
            /*font-style: italic;*/
            font-weight: 300; /* You specify the number you see next to the fonts to change from light to bold ie you would put 700 etc. etc. */
        }

    .heading-picture {
    	position: relative;
    	margin: 0 auto;
    	top:0px;
    	width: 100%;
    	height: 225px;
    	opacity: .75;
    	background-image: url("../../images/background-gtr.jpg");
    	background-repeat: no-repeat;
    	background-size: cover;
    }

	/*Image slider section*/
    .ig-b- {
        display: inline-block;
        border-bottom: none;
    }
    .ig-b- img {
        visibility: hidden;
    }
    .ig-b-:hover {
        background-position: 0 -60px;
    }
    .ig-b-:active {
        background-position: 0 -120px;
    }
    .ig-b-v-24 {
        width: 137px;
        height: 24px;
        background: url(https://badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2 / 1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
        .ig-b-v-24 {
            background-image: url(https://badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png);
            background-size: 160px 178px;
        }
    }

    /* Image Slider*/
    .col2slider {
        width: 100%;
        padding: 5px;
    }

    /* jssor slider arrow navigator skin 05 css */
    /*
    .jssora05l                  (normal)
    .jssora05r                  (normal)
    .jssora05l:hover            (normal mouseover)
    .jssora05r:hover            (normal mouseover)
    .jssora05l.jssora05ldn      (mousedown)
    .jssora05r.jssora05rdn      (mousedown)
    */
    
    .jssora05l,
    .jssora05r {
        display: block;
        position: absolute;
        /* size of arrow element */
        
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: url('images/a17.png') no-repeat;
        overflow: hidden;
    }
    .jssora05l {
        background-position: -10px -40px;
    }
    .jssora05r {
        background-position: -70px -40px;
    }
    .jssora05l:hover {
        background-position: -130px -40px;
    }
    .jssora05r:hover {
        background-position: -190px -40px;
    }
    .jssora05l.jssora05ldn {
        background-position: -250px -40px;
    }
    .jssora05r.jssora05rdn {
        background-position: -310px -40px;
    }
    /* jssor slider thumbnail navigator skin 01 css */
    /*
    .jssort01 .p            (normal)
    .jssort01 .p:hover      (normal mouseover)
    .jssort01 .p.pav        (active)
    .jssort01 .p.pdn        (mousedown)
    */
    
    .jssort01 .p {
        position: absolute;
        top: 0;
        left: 0;
        width: 72px;
        height: 72px;
    }
    .jssort01 .t {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
    .jssort01 .w {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .jssort01 .c {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 68px;
        height: 68px;
        border: #000 2px solid;
        box-sizing: content-box;
        background: url('images/t01.png') -800px -800px no-repeat;
        _background: none;
    }
    .jssort01 .pav .c {
        top: 2px;
        _top: 0px;
        left: 2px;
        _left: 0px;
        width: 68px;
        height: 68px;
        border: #000 0px solid;
        _border: #fff 2px solid;
        background-position: 50% 50%;
    }
    .jssort01 .p:hover .c {
        top: 0px;
        left: 0px;
        width: 70px;
        height: 70px;
        border: #fff 1px solid;
        background-position: 50% 50%;
    }
    .jssort01 .p.pdn .c {
        background-position: 50% 50%;
        width: 68px;
        height: 68px;
        border: #000 2px solid;
    }
    * html .jssort01 .c,
    * html .jssort01 .pdn .c,
    * html .jssort01 .pav .c {
        /* ie quirks mode adjust */
        
        width
        /**/
        
        : 72px;
        height
        /**/
        
        : 72px;
    }
    .slides-container {
        opacity: .8;
    }
    .slides-container img {
        border-radius: 5px;
    }
    @media screen and (max-width: 1000px) {
        .jslider_container {
            position: relative;
            width: 65%;
            opacity: .1;
        }
        .slides-container {
            position: relative;
            width: 65%;
        }
        .slides-container img {
            width: 100px;
        }
    }
    @media screen and (max-width: 600px) {
        .col2slider {
            position: relative;
        }
        .jssort01,
        .jssora05r,
        .jssora05l {
            visibility: hidden !important;
        }
            
    }    

    /*Featured Content Section*/

    .featured-promo-container {
        height: 100%;
        width: 100%;
        text-align: center;
    }

    #promo-video {
        border: 1px solid #E6E9EC;
        border-radius: 4px; 
        box-shadow: 0 3px 8px rgba(0,0,0,.15);
    }

    @media screen and (max-width: 710px) {
        .featured-promo-container, #promo-video {
            position: relative;
            width: 95%;
        }
    }

    /*Soundcloud*/
    .soundcloud {
    	width: 100%;
    	height: 100%;
    	margin: 0 auto;
    }

    #follower-count {
        font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
        font-size: .65em;
        font-style: normal;
        color: #34495e;
    }
    #follower-count b {
        color: #2c3e50;
    }

    @media screen and (max-width: 400px) {
        #follower-count {
            font-size: .5em;
        }
    }

	.avatar-heading {	
		width: 100%;
		height: 20%;
		position: absolute;
		top: 0;
		/*border: 1px solid blue;*/
	}

	.avatar-heading .avt {
		width: 60px;
		height: 60px;
		display: inline-block;
		border-radius: 10px;
    	background-image: url("../../images/linkedinHead.jpg");
    	background-repeat: no-repeat;
    	background-size: cover;		
    	opacity: .8;
    	margin-bottom: 10px;
	}

	.avatar-heading .avt:hover {
		opacity: .7;
	}	


	.side-header {
		position: absolute;
		top: 0;
		width: 100%;
	}

	.side-section {
		display: none;
	}

	/*Avatar Subheading*/
	#nameAv {
		color: #fff;
		font-family: 'opensans-light', sans-serif;
		margin-bottom: 7px;
		font-size: 22px;
	}

	#subtitle {
		font-family: 'opensans-light', sans-serif;
		font-size: 12px;
		margin-bottom: 3px;
		color: rgba(255,255,255,0.5);

	}

	#email {
		font-family: 'opensans-light', sans-serif;
		font-size: 11px;
		margin-bottom: 3px;
		color: rgba(255,255,255,0.5);
	}

	/*Music Section*/
	.inner h2 {
		text-align: center;
	}

    #intro a {
    	color: #203040;
    }



	.music-headline {
		border-bottom: 3px solid rgb(17, 171, 176);
		padding: 8px;
		margin: 0 auto;
		text-transform: uppercase;
	}

	#music-text {
		padding-top: 20px;
		font-size: 17px;
		text-align: center;
		line-height: 175%;
		/*border: 1px solid green;*/
	}

	#music-text a {
		/*text-decoration: underline-dotted;*/
		color: #E6567A;
		opacity: .8;

	}

	.single-sc {
		position: relative;
		margin-top: 15px;
	}

	.features section {
		min-height: 250px;
		text-align: center;
	}
	.feature-pic {
		/*border: 1px solid yellow;*/
		border: 2px solid white;
		border-radius: 2px;
		box-shadow: 1px 1px 1px rgb(136, 136, 136);
		height: 100%;
		width: 100%;

	}

	.no-border {
		border: none;
		box-shadow: none;
	}

	.bandPicOne {
		background-image: url("../../images/Dann_Zinn.jpg");
		background-size: cover;
	}

	.bandPicTwo {
		background-image: url("../../images/trio.jpg");
		background-size: cover;		

	}

	.youtube-video {
		position: relative;
		height: 100%;
		width: 100%;
	}

	.latest-featured {
		position: relative;
		text-align: center;
		height: 500px;
		width: 100%;
	}

	.instavid-container {
		position: relative;
		height: 90%;
		width: 50%;
		margin-top: 15px;
		margin: 0 auto;
		opacity: .8;
	}


/*Instagram Section*/

	.insta-c {
		position: relative;
		opacity: .9;
		/*max-height: 460px;*/
		width: 100%;
		height: 100%;
		-moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease;
		-webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
		-ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease;
		transition: opacity 0.5s ease, transform 0.5s ease;
		-moz-transition-delay: 1s;
		-webkit-transition-delay: 1s;
		-ms-transition-delay: 1s;
		transition-delay: 1s;
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;							
	}

	.insta-mid {
		text-align: center;
	}

	#insta-icon {
		height: 30px;
		width: 30px;
		margin: 0 auto;
		opacity: .9;
		border-radius: 50px;
	}

	#insta-icon:hover {
		cursor: pointer;
		opacity: .8;
	}

	.instagram-media {
		position: relative; 
		padding: 0;
		width: 100%;
		height: 100%;
		background:#FFF; 
		border:0; 
		border-radius:5px; 
		box-shadow:0 0 2px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);  
		margin: 0 auto;
	}

	.insta-container {
		border:0; 
		border-radius: 5px; 
		box-shadow:0 1px 2px 0 rgba(0,0,0,0.5),0 3px 10px 0 rgba(0,0,0,0.15); 
		margin: 5px; 
		margin-top: 13px;
		padding:0; 
		opacity: .85;
	}

	#username {
		color: #1c5380;
		font-weight: bold;
		font-size: .75em;
		margin-left: 5px;
		font-style: normal;
	}

	#username:hover {
		cursor: pointer;
	}

	#username:visited {
		color: #3f729b;
	}
	
	#insta-words {
		height: 20px;
		float: right;
		margin-top: 3px;
	}

	.insta-c.inactive {
		-moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}	

    #instashow-data {
        position: relative;
        height: 100%;
        overflow: hidden;
    }
    .my-instashow {
        position: relative;
        height: 100%;
    }

    /*Booking Button*/
	#booking-button {
	    width: 25%;
	    margin: 0 auto
	}
	@media screen and (max-width: 600px) {
	    #booking-button {
	        width: 75%;
	        margin-top: 15px;
	    }
	}    

/*new*/
.in-insta-vid {
		/*border: 1px solid green;*/
		position: relative;
		top: 8px;
		background:#F8F8F8; 
		line-height: 0;
		height: 80%;
		width: 100%;
		margin: 0 auto;
		text-align:center; 
	}	

	/*Tech Section*/
	.tech-section {
		/*text-align: center;*/
		position: relative;
		padding: 10px;
		width: 100%;
		height: 250px;
	}

	.tech-section .headline {
		width: 100%;
		height: 250px;
		position: relative;
		/*border: 1px solid green;*/
	}

	.icon-section {
		position: relative;
		width: 31%;
		height: 100%;
		left: 0;
		/*border: 1px solid green;*/

	}
	.text-section {
		position: relative;
		width: 69%;
		height: 100%;
		right: 0;

		/*border: 1px solid green;*/

	}

	.text-section a {
		color: #008891;

	}
	.code-icon {
		position: absolute;
		width: 160px;
		height: 150px;
		/*border: 1px solid blue;*/
		/*margin: 0 auto;*/
		top: 50%;
		margin-top: -75px;
		left: 24%;
		/*background-image: url("../../images/Octocat.png");*/
	}

	.code-icon:hover {
		opacity: .7;
		cursor: pointer;
	}

	.code-head {
		text-align: center;
	}

	#one {
		color: #ecf0f1;
	}

	#one .content {
		border-bottom: 1px solid #462446;
	}

	.tech-section {
		border-top: 1px solid #462446;
		border-bottom: 1px solid #462446;		
	}

	.tech-headline {
		padding: 8px;
		width: 100%;
		position: absolute;
		/*border: 1px solid green;*/
		top: 50%;
		margin-top: -60px;

	}		

	.tech-intro-text {
		font-size: 15px;
		font-family: 'opensans-light', sans-serif;
		text-align: center;		
		line-height: 175%;	
		padding: 10px;
		padding-top: 30px;	
	}

	.portfolio {
		position: relative;
		height: 900px;
		width: 100%;
		/*border: 1px solid green;*/
	}

	.port-row {
		position: relative;
		height: 50%;
	}
	.portfolio-container {
		position: relative;
		width: 48%;
		height: 95%;
		display: inline-block;
		border: 1px solid silver;
		border-radius: 6px;
		box-shadow: 1px 1px 1px rgb(136, 136, 136);
		background: #EDF9FF;
	}

	.portfolio-header {
		position: relative;
		top: 0;
		height: 40%;
		width: 100%;
		border-bottom: 1px solid #D1D5D8;
		/*border: 1px solid green;*/
	}

	.portfolio-section {
		position: relative;
		bottom: 0;
		height: 60%;
		width: 100%;
		/*border: 1px solid yellow;	*/
		padding: 10px;	
	}

	.portfolio-section p {
		color: black;
	}

	.proj-pic {
		border: 2px solid white;
	}

	.image {
		border-right: 1px solid #462446;
		border-bottom: 1px solid #462446;
	}

	.port-one {
		float: left;
	}

	.port-two {
		float: right;
	}


	/*Events Contact Section*/

	#three {
		background-attachment: fixed;
		background-image: url("images/intro.svg");
	}

	#three a {
		color: #ecf0f1;
	}
	
	#three a:hover {
		text-decoration: none;
		opacity: .65;
	}
	

	.contact-headline {
		border-bottom: 3px solid #47D2E9;
		padding: 8px;
	}		

	.contact a{
		font-size: 16px;
		color: black;
	}

	.secondAvt {
		height: 150px;
		width: 150px;
		border: 2px solid white;
		border-radius: 70px;
		opacity: .7;
	}

	.secondAvt:hover {
		opacity: .4;

	}
	.events-text {
		padding-top: 20px;
		font-size: 18px;
		text-align: center;
		line-height: 175%;
	}	
	
	.twitter-gig-container {
		height: 520px;
		margin-top: 10px;
	}

	.col1 {
		position: relative;
		width: 50%;
		float: left;
		/*border: 1px solid yellow;*/
	}

	.col2 {
		position: relative;
		width: 50%;
		float: right;
		/*border: 1px solid yellow;*/
	}

	.twitter-container {
		/*border: 5px solid green;*/
		width: 90%;
		position: relative;
		margin: 0 auto;
		opacity: .91;
		
	}






	.gig-whole-container {
		position: relative;
		/*box-shadow: 0px 0px 2px black;*/
		box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
		width: 90%;
		margin: 0 auto;
		border: 1px solid rgb(232, 232, 232);
		border-radius: 5px;
		/*opacity: .71;*/

	}

	.gig-header {
		position: relative;
		/*border-bottom: 1px solid #444B54;*/
		border-bottom: 1px solid rgb(232, 232, 232);
		width: 100%;
		margin: 0 auto;
		height: 70px;
		background-color: #E7E7E7;
		background-color: white;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;		
		text-align: center;
		opacity: .95;

	}

	.gig-footer {
		position: relative;
		/*border: 1px solid #5991B1;*/
		width: 100%;
		margin: 0 auto;
		height: 30px;
		border-top: 1px solid rgb(232, 232, 232);
		background-color: #E7E7E7;
		text-align: center;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		opacity: .95;
		
		

	}


	.past-gigs-container {
		color: black;
		position: relative;
		border-top: none;
		border-bottom: none;
		width: 100%;
		background-color: #FFFFF7;
		background-color: white;
		/*border-bottom-right-radius: 4px;*/
		margin: 0 auto;
		/*box-shadow: 0px 0px 2px black;*/
		max-height: 400px;
		overflow: scroll;
	}

	.past-gigs {
		text-align: center;
		font-size: 18px;
		/*margin-bottom: 5px;*/
		/*margin-top: 25px;*/
		padding-top: 5px;
		padding-bottom: 5px;
		/*background-color: #0F3057;*/
		/*background-color: #0F3057;*/
		/*background-color: #E7E7E7;*/
		background-color: #FFFFF7;
		border-bottom: 1px solid #E7E7DE;
	}	


	.gig-icon {
		/*border: 1px solid green;*/
		width: 70px;
		height: 70px;
		/*margin: 0 auto;*/
		position: relative;
		left: -10px;

	}

	.gig-icon:hover {
		opacity: .8;
	}

	#gigs {
		position: relative;
		width: 100%;
		padding-left: 0;
	}

	.gig-listing {
		position: relative;
		width: 100%;
		height: 50px;
		border-bottom: 1px solid #E7E7DE;
		opacity: .95;

	}

	.gig-listing:hover {
		opacity: .6;
	}

	.gig-title {
		position: absolute;
		width: 80%;
		left: 0;
		height: 100%;
		border-bottom: 1px solid #FEFEFE;
		text-align: center;
		padding: 15px;
		font-size: 110%;
	}

	.gig-date {
		position: absolute;
		width: 20%;
		height: 80%;
		right: 0;
		text-transform: bold;
		top: 50%;
		margin-top: -21px;
		/*border-right: 3px solid #D8335B;*/
		border-right: 3px solid #26A69A;
		
	}

	.gig-date .date-month{
		font-size: 80%;
	}

	.gig-date .date-day{
		font-size: 120%;
	}

	.gig-date .date-year {
		font-size: 70%;
	}



	#gigs {
		font-size: 12px;
		font-family: 'opensans-light', sans-serif;
		text-align: center;
		list-style-type: none;
	}

	/*Four*/

	/*Medium container*/
    .medium-container {
        position: relative;
        text-align: center;
        margin: 0 auto;
    }
    .medium-display {
        position: relative;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .m-container {
        /*border: 1px solid green;*/
        
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-color: #eee #ddd #bbb;
        border-width: 1px;
        border-style: solid;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
        margin: 0 auto;
        position: relative;
        width: 400px;
        height: 454px;
        overflow: scroll;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    @media screen and (max-width: 600px) {
        .m-container {
            width: 300px;
            height: 342px;
            overflow: scroll;
        }
    }	

	.bio-headline {
		border-bottom: 3px solid #53DF83;
		padding: 8px;
	}	

	.bio-text {
		font-size: 16px;
		font-family: 'opensans-light', sans-serif;
		text-align: center;		
		line-height: 175%;	
		padding: 10px;
		padding-top: 30px;			

	}

	.features section {
		position: relative;
		padding: 0;
	}



	/*Tech section media query*/

	@media screen and (max-width: 1010px) {
		.side-section {
			display: block;
		}

		.icon-section {
			display: none;
		}

		.text-section {
			margin: 0;
			padding: 0;
			width: 100%;
		}

		.code-head {
			font-size: 140%;
		}

		.tech-intro-text {
			font-size: 95%;
			overflow: scroll;
			padding-top: 10px;
		}
	}


	/*Gig section media Query*/
	@media screen and (max-width: 1000px) {

		.gig-icon {
			width: 55px;
			height: 55px;
		}
		.gig-header {
			padding-top: 8px;
		}
		.gig-header h4 {
			font-size: 125%;
		}

		.gig-title { 
			font-size: 100%;
			padding: 13px;
		}
	}

	/*Gig Twitter section columns*/
	@media screen and (max-width: 1000px) {

		.twitter-gig-container {
			height: 850px;
		}

		.col1 {
			width: 100%;
			float: none;
		}

		.col2 {
			width: 100%;
			float: none;
			height: 350px;
		}

		.gig-whole-container {
			width: 65%;
			min-width: 180px;
		}

		.twitter-container {
			margin-top: 15px;
			width: 65%;
			min-width: 180px;
		}

		.twitter-timeline {
			height: 350px;
			max-height: 350px;
		}
	}

	/*Latest Video Section*/
	@media screen and (max-width: 1000px) {
		.inner-insta-vid-container {
			position: relative;
			height: 80%;
			width: 100%;
			max-height: 150px;
		}
		.instavid-container {
			position: relative;	
			width: 100%;
			height: 80%;
			margin: 0 auto;
		}
		.instagram-media {
			position: relative;
			margin: 0 auto;
			width: 100%;
		}

		.scig-col {
			width: 100%;
			padding: 0px;
		}
	}


	@media screen and (max-width: 736px) {
		.gig-header h4 {
			font-size: 105%;
		}

		.gig-title { 
			font-size: 85%;
			padding: 8px;
		}

		.gig-whole-container {
			width: 80%;
		}

		.twitter-container {
			width: 80%;
		}
		
		.code-head{
			margin-bottom: 1px;
		}

		.tech-intro-text {
			padding: 5px;
			font-size: 12px;
			padding-bottom: 10px;
		}

        #music-text {
            font-size: 15px;
        }
	}


	@media screen and (max-width: 600px) {

		.gig-whole-container {
			width: 100%;
		}

		.twitter-container {
			width: 100%;
		}

	}


	/*No anitmation for mobile sizes*/
	@media screen and (max-width: 480px) {
		div, section, header, img, a, .notransition {
		  -webkit-transition: none !important;
		  -moz-transition: none !important;
		  -o-transition: none !important;
		  -ms-transition: none !important;
		  transition: none !important;
		}

        #insta-words {
            display: none;
            visibility: hidden !important;
        }
	}
